@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .skills .icon {
        background-color: unset !important;
        justify-content: center;
    }

    .skills .icon p {
        display: none;
    }
}

@media (max-width: 576px) {

    .about .image img,
    .about .image .img-bg {
        width: 10rem;
        height: 10rem;
    }

    .about .image .img-bg-2 {
        width: 12rem;
        height: 12rem;
    }

    .about .image .img-bg-left,
    .about .image .img-bg-right {
        display: none !important;
    }

    .result .image img {
        width: 10rem;
    }

    
}