* {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
    transition: .5s ease;
}

.tMode span {
    cursor: pointer;
    bottom: 5rem;
    right: 2rem;
    transition: .5s ease;
    color: cornflowerblue;
}

.tMode .size {
    font-size: 0;
}

/* bootstrap hack ================================================================================== */
.my-body .container {
    max-width: unset;
    width: 100%;
}


/* dark style ====================================================================================== */

.dark {
    background-color: #161618 !important;
}

.title-dark {
    -webkit-text-stroke-color: rgb(100 149 237 / 50%) !important;
}

.font-dark {
    color: rgb(100 149 237 / 50%) !important;
}

.img-dark {
    background-color: rgb(21 21 23) !important;
}

.img-dark-2 {
    background-color: rgb(100 149 237 / 50%) !important;
}

/* define style ==================================================================================== */
.cek {
    border: 1px solid;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pop {
    font-family: 'pop';
}

.mon {
    font-family: 'mon';
}

.mon-bold {
    font-family: 'mon-bold';
}

.start-animate {
    animation: about .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.stop-animate {
    transform: translateX(0) !important;
    -webkit-text-security: none !important;
    opacity: 50%;
}

.hide-scale {
    transform: scale(0);
}

.show-scale {
    transform: scale(1) !important;
}
/* style =========================================================================================== */

/* about - me ====================================================================================== */
/* .about {} */

.about .contain {
    transform: scale(0);
    transition: .5s ease;
}

.about .text p,
.result .text p,
.skills .text p {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0 0 0 / 50%);
    -webkit-text-security: disc;
    transform: translateX(-50rem);
}

.about .text p:nth-child(7) {
    animation: about .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.about .text p:nth-child(6),
.result .text p:nth-child(3) {
    margin-left: .5rem !important;
}

.about .image img {
    margin-left: 50%;
}

.about .image .img-bg {
    top: 0;
    left: 50%;
    background-color: #15c38e;
    z-index: -1;
}

.about .image img,
.about .image .img-bg {
    width: 15rem;
    height: 15rem;
}

.about .image .img-bg-2 {
    width: 17rem;
    height: 17rem;
    top: -1rem;
    left: 50%;
    background-color: rgb(0 0 0 / 10%);
    z-index: -2;
}

.about .image img,
.about .image .img-bg,
.about .image .img-bg-2 {
    transform: translateX(-50%);
    border-radius: 50%;
}

.about .image .img-bg-left {
    left: 29%;
    transform: translateX(-29%);
    z-index: -3;
}

.about .image .img-bg-right {
    right: 29%;
    transform: translateX(29%);
    z-index: -3;
}

.about .image .img-bg-left,
.about .image .img-bg-right {
    width: 12rem;
    height: 12rem;
    background-color: rgb(0 0 0 / 5%);
    border-radius: 50%;
    bottom: 0;
}

.result .contain,
.skills .contain {
    transition: 1s ease;
}

.result .image img {
    width: 20rem;
    top: 0;
}

.result .image .tron {
    left: 50%;
    transform: translateX(-50%) scale(1.1);
}

.result .image img:nth-child(2) {
    left: 30%;
    transform: translateX(-30%);
    z-index: -1;
}

.result .image img:nth-child(3) {
    right: 30%;
    transform: translateX(30%);
    z-index: -1;
}

.result .image img:nth-child(4) {
    opacity: 0;
}

.result .link-image span {
    font-size: 2rem; 
    color: cornflowerblue;
}

.skills .icon {
    background-color: rgb(0 0 0 / 3%);
    border-radius: .5rem;
}

.skills .icon img {
    width: 2rem;
}

footer {
    width: 100%;
    background-color: rgb(0 0 0 / 3%);
    color: cornflowerblue;
}

footer a {
    color: cornflowerblue;
}

footer a:nth-child(3) {
    /* transform: scale(0); */
    display: none;
}

/* fonts =========================================================================================== */
@font-face {
    font-family: 'pop';
    src: url('../fonts/poppins-bold-webfont.woff2');
}

@font-face {
    font-family: 'mon-bold';
    src: url('../fonts/montserrat-bold-webfont.woff');
}

@font-face {
    font-family: 'mon';
    src: url('../fonts/montserrat-regular-webfont.woff');
}