* {
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: whitesmoke;
}


/* bootstrap hack ================================================================================== */
.my-body .container {
    max-width: unset;
    width: 100%;
}

/* define style ==================================================================================== */
.cek {
    border: 1px solid;
}

.p-fixed {
    position: fixed;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.pop {
    font-family: 'pop';
}

.start-animate {
    animation: about 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.stop-animate {
    transform: translateX(0) !important;
    -webkit-text-security: none !important;
}

/* style =========================================================================================== */
.about {
    
}

.about p {
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-security: disc;
    transform: translateX(-50rem);
    /* animation: about 1s cubic-bezier(0.18, 0.89, 0.32, 1.28); */
}

.about p:nth-child(7) {
    animation: about 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.about p:nth-child(6) {
    margin-left: .5rem !important;
}

/* fonts =========================================================================================== */
@font-face {
    font-family: 'pop';
    src: url('../fonts/poppins-bold-webfont.woff2');
}